#footer {
    height: 42px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
}

#footer .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}